.container {
  width: 80%;
  margin: 0 auto;
  color: white;
}

image {
   
  width: 150px; /* Задає ширину зображення */
  height: 150px; /* Задає висоту зображення */
  object-fit: cover; /* Гарантує, що зображення заповнює квадрат і не спотворюється */
}
.main_card {
  display: flex;
  gap: 20px;
  border-radius: 10px 20px 15px 25px;
}
.desc {
  font-size: 22px;
  margin-top: 15px;
}
.video{
  border-radius: 10px 20px 15px 25px;
  margin-bottom: 50px;
}