

html {
  background-image: url(https://uaserials.pro/bg/bg.jpg);
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(51, 51, 51);
  color: black;
  margin: 100px;
  border-radius: 20px 20px 0 0;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  background-color: #283043;
  border-radius: 20px 20px 0 0;
  height: 20px;
  display: flex;
  flex-wrap: 50px;
  padding: 15px 50px;
}

.logo1 {
  width: 40px;
}
.logo2 {
  color: black;
  width: 100px;
}

.story {
  width: 800px;
  padding-left: 50px;
}

.story2 {
  width: 19px;
  padding-right: 0%;
  padding-top: 1px;
}

.login {
  border: 1px solid rgba(36, 27, 160, 0.911);
  color: #ffffff;
  background-color: rgba(36, 27, 160, 0.911);
  width: 120px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
}

.login:hover{
  border: 1px solid rgba(36, 27, 160, 0.705);
  color: #ffffff;
  background-color: rgba(36, 27, 160, 0.705);
  width: 120px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
}


.menu {
  display: flex;
  padding: 20px 40px;
  background-color: #484855;
  color: rgb(245, 226, 226);
  height: 20px;
  margin-top: 0;
}

.points {
  display: flex;
  flex-wrap: 50px;
  padding: 0px 10px;
}

.points:hover{
  display: flex;
  flex-wrap: 50px;
  padding: 0px 10px;
  color: rgb(255, 238, 0);
}

.last {
  padding-left: 50%;
}

.last:hover{
  padding-left: 50%;
  color: rgb(255, 238, 0);
}

.cards {
  color: black;
  flex-direction: row;
}

.section {
  color: rgb(59, 71, 104);
  flex-direction: row;
  padding-left: 50px;
}

.section:hover{
  color: rgb(255, 238, 0);
  flex-direction: row;
  padding-left: 50px;
}

.cards-content {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  flex-wrap: nowrap;
  padding: 50px;
  border-radius: 50px;
}

.cell {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  flex-direction: column;
  width: 100px;
  justify-content: start;
}

.lazyload {
  width: 150px;
  border-radius: 30px;
  margin-top: -50px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

.name1 {
  color: #686868;
  font-size: 15px;
  width: 150px;
}

.name2 {
  color: #8f95a3;
  font-size: 12px;
  width: 150px;
}

.footer {
  height: 50px;
  background-color: #4d4b4b;
  display: flex;
  flex-wrap: 100px;
  padding: 10px 15px 0px;
}

.footer1 {
  color: white;
}

.footer2 {
  color: yellow;
}

.search-container{
  margin-top: 1000px;
  width: 300px;
  display: block;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  justify-content: center;
}

input#story{
  margin-left: 260px;
  margin-top: 22px;
  width: 300px;
  height: 30px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 800px;
  padding: 2rem;
  animation: scroll 20s infinite linear;
}

.gallery img {
  width: 100%;
  max-width: 200px;
  height: auto;
  cursor: pointer;
  box-shadow: 15px 4px 18px -5px rgba(0, 0, 0, 0.68);
  transition: transform 0.5s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.05);
}

@keyframes scroll {
  0% {
    transform: translate(calc(100% - 0.2rem));
  }

  50% {
    transform: translate(calc(-100% - 0.2rem));
  }

  100% {
    transform: translate(calc(100% - 0.2rem));
  }
}
