html {
  background-image: url(https://uaserials.pro/bg/bg.jpg);
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(51, 51, 51);
  color: black;
  margin: 100px;
  border-radius: 20px 20px 0 0;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  background-color: #283043;
  border-radius: 20px 20px 0 0;
  height: 20px;
  display: flex;
  flex-wrap: 50px;
  padding: 15px 50px;
}

.logo {
  color: black;
  width: 100px;
}

.login {
  width: 900px;
}

.login {
  padding-left: 300px;
}

.menu {
  display: flex;
  padding: 20px 40px;
  background-color: #484855;
  color: rgb(245, 226, 226);
  height: 20px;
  margin-top: 0;
}

.points {
  display: flex;
  flex-wrap: 50px;
  padding: 0px 10px;
}

.last {
  padding-left: 50%;
}

.cards {
  color: black;
  flex-direction: row;
}

.section {
  color: rgb(59, 71, 104);
  flex-direction: row;
  padding-left: 50px;
}

.cards-content {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  flex-wrap: nowrap;
  padding: 50px;
  border-radius: 50px;
}

.cell {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  flex-direction: column;
  width: 100px;
}

.lazyload {
  width: 150px;
  border-radius: 30px;
  margin-top: -50px;
}

.name1 {
  color: #686868;
  font-size: 15px;
  width: 150px;
}

.name2 {
  color: #8f95a3;
  font-size: 12px;
  width: 150px;
}

.footer {
  height: 50px;
  background-color: #4d4b4b;
  display: flex;
  flex-wrap: 100px;
  padding: 10px 15px 0px;
}

.footer1 {
  color: white;
}

.footer2 {
  color: yellow;
}
